<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>solder inspection app</title>

</head>
<body>
    <h2 class="center">🧐はんだ付け　外観検査ロボ🤖</h2>
    <div class="center">
        <button id="start_button" class="btn--orange">start</button>
        <button id="stop_button" class="btn--gray">stop</button><br>
    </div>
    <br>
    <br>
    <div>
        <span id ="file_name" class="model_display">ファイル名:  </span><br>
        <!-- <span class="anomaly">推論結果:  </span> -->
        <span id="inference_result" class="anomaly">推論結果:  </span>
    </div>
    <br>
    <div class="container">
        <div class="center">
            <!-- <h2>入力画像</h2> -->
            <!-- <input type="img" id="imageInput" accept="image/*"> -->
            <img id="input_image" src="../static/dxq.png" alt="選択された画像" class="height300" value="入力画像">
            <img id="output_image" src="../static/dxq.png" alt="選択された画像" class="height300" value="推論画像">
        </div>
        
        <div>
        </div>
    </div>
    <br>
    <div class="right">
        <button id="clear_button" class="btn--gray">clear result</button><br>
    </div>
    
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
    <script>
        // ドキュメントの取得
        const fileName = document.getElementById('file_name'); // for file name
        const inputImage = document.getElementById('input_image'); // for input image
        const outputImage = document.getElementById('output_image'); // for output image
        const inferenceResult = document.getElementById('inference_result'); // for inference result
        
        // const url_to_getlist = `{% url 'get_image_path' 'TYPE_PLACEHOLDER' %}`.replace('TYPE_PLACEHOLDER', '4');
        const url_to_getlist = `{% url 'get_image_path' 'image_list' %}`;
        console.log(url_to_getlist);
        
        let p1 = document.createElement('p'); // for file name
        let p2 = document.createElement('p'); // for input image
        let p3 = document.createElement('p'); // for output image
        let images = [];
        
        
        const get_image = function(rul_to_getlist) {
            // 初期化
            p1.innerHTML = "";
            p2.innerHTML = "";
            // 通信
            fetch(url_to_getlist)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                for(let key in data) {
                    json_to_list = {}
                    json_to_list['filename'] = key;
                    json_to_list['src'] = data[key];
                    images.push(json_to_list);
                }
                console.log(images[0].filename)
            });
        };
        get_image(url_to_getlist);
        console.log(images);
        // 毎秒imagesから取り出して表示、推論する
        let timer1 = null;




        let cnt = 0;
        let num_files = images.length + 1;
        console.log(num_files);

        names_dic = {
            "0": "regular",
            "1": "bridge",
            "2": "horn",
            "3": "potato",
            "4": "other",
        };
        
        
        
        function event() {
            cnt++;
            // if (cnt >= 15 && timer1 != null) { // テスト用
            if (cnt >= images.length+1 && timer1 != null) { // 本番用
                clearInterval(timer1);
            }
            // 1000ミリ秒ごとにコンソールに表示
            console.log(images[cnt].filename + '.jpeg');
            p1.textContent = images[cnt].filename + '.jpeg';
            fileName.textContent = "ファイル名：  "  + p1.textContent;
            inputImage.src = images[cnt].src;
            
            
            p3.innerHTML = "";
            // ここまではOK
            
            // YOLOで推論
            let url_to_yolo = `{% url 'inspction_image' 'TYPE_PLACEHOLDER' %}`.replace('TYPE_PLACEHOLDER', p1.textContent);
            console.log(url_to_yolo);
            
            const yolo_inspetion = function(url_to_yolo) {
                let anomaly_list = [];
                fetch(url_to_yolo)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    for(let key in data) {
                        // keyがanomaryから始まるものは別リスト
                        if (key == 'src') {
                            console.log(key);
                            outputImage.src = "";
                            outputImage.src = data[key];
                            console.log(data[key]);
                        } else {
                            p3.textContent = names_dic[key] + ":  " + data[key] + "   😱"
                            console.log(key);
                        }
                        
                    };
                    inferenceResult.textContent = "推論結果:  " + p3.textContent;
                });
            };
            yolo_inspetion(url_to_yolo);
        };
        
        const startButton = document.getElementById("start_button");
        const stopButton = document.getElementById("stop_button");
        const clearButton = document.getElementById("clear_button");
        
        startButton.addEventListener('click', function(e) {
            timer1 = setInterval(event, 2000);
        });
        
        stopButton.addEventListener('click', function(e) {
            clearInterval(timer1);
        })
        
        clearButton.addEventListener('click', function(e) {
            let clear_url = `{% url 'clear_result' 'TYPE_PLACEHOLDER' %}`.replace('TYPE_PLACEHOLDER', "clear_files");
            fetch(clear_url)
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
        })

        // タイマー開始
        // timer1 = setInterval(event, 2000);
        
    </script>
</body>
</html>