/webapp_env
/visual_inspection/solder/applications/yolov5
/visual_inspection/solder/static/raw_images/*
/visual_inspection/solder/static/inspected_image/*
/visual_inspection/solder/static/masked_image/*
/visual_inspection/solder/static/dxq.png
