body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;  /* 背景色を黒色に設定 */
}

.width300 {
  width: 300px;
  vertical-align: top;
}

.height300 {
  height: 300px;
  vertical-align: top;
}

span.model_display {
  color: #ffffff;
  background-color: chocolate;
  font-size: 1.5rem;
  /* margin: 10px; */
}
